---
import PageLayout from '../layouts/PageLayout.astro'
import { resume } from '../data/resume'
import Share from '../components/icons/Share.astro'
---

<PageLayout title='A Cursed Tale'>
  <main class='p-4 min-h-screen'>
    <h2 class='grid place-content-center min-h-screen'>
      Greeting and Salutations<br /> I'm Josh!
    </h2>

    <div id='projects' class=''>
      <p>Here are some of the cool projects I've worked on</p>

      <div class='grid gap-4 grid-cols-3'>
        {
          resume.projects.map(({ imageUrl, repo, title, url }) => (
            <div class='bg-neutral-200 p-2 rounded min-w-[250px]'>
              {imageUrl ? (
                <img
                  class='object-fit aspect-video w-full rounded'
                  src={imageUrl}
                />
              ) : (
                <div class='aspect-video w-full rounded bg-slate-400' />
              )}
              <div class='flex gap-1'>
                <span>{title}</span>
                <a href={url}>
                  <Share className='w-3 h-3 mt-1.5 text-black' />
                </a>
              </div>
              {repo && <a href={repo}>Repository</a>}
            </div>
          ))
        }
      </div>
    </div>
  </main>
</PageLayout>
