---
import Contact from '../components/Contact.astro'
import Education from '../components/Education.astro'
import Experience from '../components/Experience.astro'
import Link from '../components/Link.astro'
import Section from '../components/Section.astro'
import Skill from '../components/Skill.astro'
import { resume } from '../data/resume'
import Layout from '../layouts/PageLayout.astro'
---

<Layout title='Resume'>
  <h1 class='text-3xl py-4 text-center'>Joshua Richardson</h1>

  <main class='flex w-full px-10 print:px-0 print:text-[8pt] print:h-full'>
    <aside class='w-1/3 bg-slate-400 p-4'>
      <Section title='Contact'>
        {resume.contact.map((item) => <Contact {...item} />)}
      </Section>
      <Section title='Links'>
        {resume.links.map((item) => <Link {...item} />)}
      </Section>
      <Section title='Skills'>
        <div class='flex gap-2 flex-wrap'>
          {resume.skills.map((skill) => <Skill {...skill} />)}
        </div>
      </Section>
    </aside>
    <article class='flex-1 bg-neutral-200 text-neutral-900 p-4'>
      <Section title='Professional Summary' light>
        <p class='font-light'>{resume.objective}</p>
      </Section>
      <Section title='Experience' light>
        {resume.experience.map((item) => <Experience {...item} />)}
      </Section>
      <Section title='Education' light>
        {resume.education.map((item) => <Education {...item} />)}
      </Section>
    </article>
  </main>
</Layout>
